.container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto auto auto;
  justify-items: center;
  grid-template-areas: 
    ". title ."
    ". description ."
    ". input .";
  
}

#title {
  grid-area: title;
}

.input {
  grid-area: input;
  display: inline-flex;
  flex-direction: column;
}

#description {
  grid-area: description;
}

#textfield {
  padding-top: 10px;
}